* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Navigation bar */
nav {
    background-color: black;
    width: 100%;
}

nav img { 
    background-color: black;
    margin-left: 0px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 70px;
}

nav ul {
    list-style-type: none;
    background-color: #000;
    display: inline-block;
}

nav ul li {
    float: left;
    height: 80px;
}

nav ul i {
    color: #ffcc2f;
}

nav ul li a {
    display: block;
    font-size: 0.8em;
    color: white !important;
    background-color: black;
    text-align: center;
    width: 160px;
    margin-bottom: 15px;
    height: auto;
    padding: 30px;
    text-decoration: none;
    font-size: 15px;
}

nav ul li a:hover {
    color: #ffcc2f !important;
}

#inputC {
    margin: 30px 30px;
    background-color: black;
    color: white;
    cursor: pointer;
    border: none;
    text-decoration: none;
}


/* Main section */
menu {
    padding-top: 100px;
}

h1 {
    text-align: center;
    padding: 20px;
}

#ul {
    width: 70%;
    border: 2px solid #ffcc2f;
    margin: auto; 
}

.grid {
    display: grid;
    width: 100%;
    margin: auto;
    grid-template-columns: 400px 600px;
    padding-top: 40px;
    justify-content: center;
    position: fixed;
}

.grid-it {
    padding: 10px;
}

h3 {
    padding-bottom: 20px;
}

.sb {
    padding: 10px;
    width: 100%;
    border: 1px solid silver;
}

.tc, td, th {
    border: 1px solid white;
    padding: 10px;
}

.tc *{
    border: 1px solid silver;
}

.tc {
    width: 100% !important;
}


/* Footer */
footer {
    width: 100%;
    background-color: black;
    height: 300px;
}

/* Contact */
.popup_bg {
    display: none;
    z-index: 1;
    position: fixed;
    backdrop-filter: blur(5px);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.popup_form {
    border-radius: 1%;
    background-color: white;
    margin: 10% auto;
    padding: 10px;
    width: 40%;
    height: 60%;
}

#c_form {
    width: 100%;
    height: auto;
}


#c_form input, textarea {
    width: 100%;
}

#c_form input, select {
    height: 40px;
    padding: 5px;
}

#c_form textarea {
    height: 100px;
}

#cb {
    width: 10% !important;
    padding: 1px !important;
    height: 15px !important;
    
}

button[type=submit], [type=cancel] {
    padding: 10px;
    margin: 10px;
}

label {
    display: block;
    padding-top: 15px;
    padding-bottom: 5px;
}



/* Table */

th:nth-of-type(1), td:nth-of-type(1) {
    display: none;
}

.btn_remove {
    width: 60px;
    height: 30px;
}

table {
    margin-left: 30px;
    width: 70%;
}

table, th, td {
    border: 1px black solid;
}
